<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>売上管理</title>
</head>
<body>
  <h2>売上管理の編集</h2>
  <form action="/management/update/<%= data.id - 1 %>" method="POST">
    <table>
      <tr><th>項目</th><th>データ</th></tr>
      <tr><td>JANコード</td><td><input type="text" name="code" value="<%= data.id %>"></td></tr>
      <tr><td>商品名</td><td><input type="text" name="name" value="<%= data.name %>"></td></tr>
      <tr><td>種類</td><td><input type="text" name="type" value="<%= data.type %>"></td></tr>
      <tr><td>値段</td><td><input type="text" name="value" value="<%= data.value %>"></td></tr>
      <tr><td>売上個数</td><td><input type="text" name="quantity" value="<%= data.quantity %>"></td></tr>
    </table>
    <input type="submit" values="登録">
  </form>
  <a href="/management/">商品一覧に戻る</a>
</body>
</html>